---
Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  clang-analyzer-*,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-pro-type-cstyle-cast,
  misc-redundant-expression,
  misc-unused-using-decls,
  modernize-use-nullptr,
  modernize-use-override,
  performance-*,
  -performance-no-int-to-ptr,
  readability-braces-around-statements,
  readability-misleading-indentation,
  readability-redundant-control-flow,
  readability-simplify-boolean-expr

WarningsAsErrors: >
  bugprone-assignment-in-if-condition,
  bugprone-use-after-move

HeaderFilterRegex: 'include/.*\.h$'

FormatStyle: google
